html {
	font-family: verdana;
	font-size: 18px;
}

body {
	margin: 0;
	padding: 0;
}


.hidden {
	display: none;
}

.page-content {
	margin: 48px 14px;
}

.title {
	background: linear-gradient(315deg, #0d3a2e, #265d45);
	width: 100%;
	color: #e8e8de;
	padding: 8px 14px;
	margin: 0;
	box-shadow: -2px 2px 2px 0px #e3e3ea;
	border-bottom: 1px solid #57855d;
	height: 40px;
	display: flex;
	align-items: center;
}

.title > img {
	height: 50px;
}

.title > a {
	text-decoration: none;
	color: #e8e8de;
}

.title > a:visited {
	text-decoration: none;
	color: #e8e8de;
}

.title > .menu-links {
	display: flex;
	align-self: end;
	padding: 3px 70px;
	font-size: 14px;
	color: #b7d4cc;
}

.title > .menu-links > .menu-link {
}

.title > .menu-links > .menu-link a {
	color: #b7d4cc;
	text-decoration: none;
	padding: 0 18px;
}

.title > .menu-links > .menu-link a:hover {
	color: #37cca3;
	text-decoration: none;
}

.floaty-box {
	width: 80%;
	max-width: 1100px;
    margin: auto;	
	box-sizing: border-box;
	box-shadow: -2px 2px 2px 0px #e3e3ea;
	border: 1px solid #f7f7f7;
	padding: 8px;
	padding-bottom: 12px;
	margin: auto;
	margin-bottom: 16px;
}

.trans-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.transactions {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.transaction {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 4px;
	padding: 7px;
    font-size: 14px;
	border-bottom: 1px solid #f1f1f1;
	color: #6f6f6f;
}

.transaction > .name {
	width: 70%;
	box-sizing: border-box;
}

.transaction > .date,
.trans-input-bar > .trans-date-input {
	width: 15%;
	box-sizing: border-box;
	text-align: left;
	padding-left: 12px;
    color: #9b9b9b;
}

.transaction > .amount {
	width: 10%;
	box-sizing: border-box;
	text-align: right;
	padding-right: 12px;
}

.transaction > .actions {
	width: 5%;
	box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.transaction > .actions > a {
	cursor: pointer;
}

.transaction > .actions > a:hover {
	color: #ff0000;
}

.neg {
	color: #c30808;
}

.pos {
	color: #189d4f;
}


.account-info {
	display: flex;
    justify-content: space-between;
    width: 77%;
    margin: 12px auto;
    font-size: 16px;
    color: #3b3b34;
}

.account-name {
}

.currency {
	color: #8f8f8f;
    padding-right: 5px;
    font-size: 16px;
}

.amount-container {
	display: flex;
}

.account-available {

}

.new-trans {
}

.small-title {
	font-size: 12px;
	color: #b3afab;
}

.smaller-title {
	font-size: 10px;
	color: #b3afab;
}

.trans-input-bar {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: self-end;
}

.trans-input-bar > div {
	margin: 2px 14px;
}


.input {
	font-size: 14px;
	box-shadow: -2px 2px 2px 0px #e3e3ea;
	border: 1px solid #c9c9ce;
	padding: 4px 8px;
}

.input.number {
	text-align: right;
}

.input::placeholder {
	color: #e3e3e3;
}

.input:focus {
	border: 1px solid #c9c9fe;
	outline: none;
}

.btn-link {
	padding: 5px 12px;
	background: #fafafa;
	border: 1px solid #c0c0c0;
}

.btn-link:hover {
	background: #39a77c;
    border: 1px solid #9edeb5;
    color: #d9ffe4;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


