html {
	font-family: verdana;
	font-size: 1.2em;
}

body {
	margin: 0;
	padding: 0;
}

.page-content {
	margin: 48px 14px;
}

.title {
	background: #2b463f;
	width: 100%;
	color: #e8e8de;
	padding: 8px 14px;
	margin: 0;
	box-shadow: -4px 3px 7px -1px rgba(166,166,166,0.75);
	border-bottom: 1px solid #57855d;
}

.trans-container {
	display: flex;
	width: 80%;
	margin: auto;
	box-sizing: border-box;
	border: 1px solid #f7f7f7;
	padding: 14px;
	box-shadow: -4px 3px 7px -1px rgba(166,166,166,0.75);
}

.transactions {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.transaction {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 4px;
	padding: 7px;
    font-size: 0.8em;
	border-bottom: 1px solid #f1f1f1;
	color: #6f6f6f;
}

.transaction > .name {
	width: 70%;
	box-sizing: border-box;
}

.transaction > .date {
	width: 15%;
	box-sizing: border-box;
	text-align: left;
	padding-left: 12px;
    color: #9b9b9b;
}

.transaction > .amount {
	width: 15%;
	box-sizing: border-box;
	text-align: right;
	padding-right: 12px;
}

.neg {
	color: #c30808;
}

.pos {
	color: #189d4f;
}
