<!DOCTYPE html>

<head>
	<script type="text/javascript" src="/static/api.js"></script>
	<link rel="stylesheet" href="/static/sacmoney.css">
</head>
<html>

<body onload="page_load();">
	{{template "tmpl_title" . }}
	<div class="page-content">
		<div class="account-info">
			<div class="account-name">{{.AccountName}}</div>
			<div class="amount-container">
				<div class="currency">
					$
				</div>
				<div id="account-available" class="account-available">{{.Available}}</div>
			</div>
		</div>

		<div id="new-trans" class="floaty-box new-trans">
			<div class="small-title">New Transaction</div>
			<div class="trans-input-bar">
				<div class="trans-date-input">
					<div class="smaller-title">Transaction Date</div>
					<input id="input-trans-date" class="input" type="date" value="2024-08-11"></input>
				</div>
				<div class="trans-name-input">
					<div class="smaller-title">Description/Name</div>
					<input id="input-trans-name" class="input" type="text" placeholder="Food Market"></input>
				</div>
				<div class="trans-amount-input">
					<div class="smaller-title">Amount</div>
					<input id="input-trans-amount" class="input number" type="number" placeholder="-20.38"></input>
				</div>
				<div class="trans-add-button">
					<button id="btn-add" class="btn-link" onclick="add_transaction();">Add</button>
				</div>
			</div>
		</div>

		<div id=" transaction-container" class="floaty-box trans-container">
			<div id="transactions" class="transactions">
			</div>
		</div>


	</div>
</body>


</html>
